/* line 1, ../Code/Radancy-Test00/scss/styles.scss */
:root {
  --brand-color: #00945f;
  --secondary: #759b24;
  --accent-color: #e97300;
  --highlight-color: #ebf7f5;
}

/* line 8, ../Code/Radancy-Test00/scss/styles.scss */
* {
  box-sizing: border-box;
  font-family: 'Arial';
}

/* line 13, ../Code/Radancy-Test00/scss/styles.scss */
p {
  line-height: 30px;
  text-align: left;
  color: #888888;
  font-size: 1rem;
}

/* line 20, ../Code/Radancy-Test00/scss/styles.scss */
a {
  text-decoration: none;
}

/* line 24, ../Code/Radancy-Test00/scss/styles.scss */
.btn {
  display: flex;
  width: 155px;
  text-align: center;
  background: var(--accent-color);
  color: #fff;
  margin: 50px auto;
  height: 40px;
  justify-content: center;
  align-items: center;
  font-size: 1.25rem;
}

/* line 35, ../Code/Radancy-Test00/scss/styles.scss */
.btn a {
  text-decoration: none;
  color: #fff;
}

/* line 41, ../Code/Radancy-Test00/scss/styles.scss */
header {
  display: flex;
  justify-content: center;
}

/* line 45, ../Code/Radancy-Test00/scss/styles.scss */
header img {
  max-width: 62vw;
  margin: 25px 0;
}

/* line 51, ../Code/Radancy-Test00/scss/styles.scss */
#hero {
  width: 100%;
  height: 200px;
  background-image: url("../css/images/hero.png");
  background-size: 615px;
  background-position: 0% 40%;
}

/* line 59, ../Code/Radancy-Test00/scss/styles.scss */
#main-container {
  border-bottom: 1px solid var(--brand-color);
  padding-bottom: 30px;
}

/* line 62, ../Code/Radancy-Test00/scss/styles.scss */
#main-container #main-content {
  margin: 20px;
}

/* line 65, ../Code/Radancy-Test00/scss/styles.scss */
#main-container #main-content .subtitle h2 {
  text-align: center;
  font-weight: lighter;
  font-size: 1.65rem;
  color: var(--brand-color);
  margin: 0;
}

/* line 72, ../Code/Radancy-Test00/scss/styles.scss */
#main-container #main-content .subtitle ::after {
  content: '';
  display: block;
  margin: 0 auto;
  width: 25%;
  padding-top: 15px;
  border-bottom: 2px solid var(--brand-color);
}

/* line 85, ../Code/Radancy-Test00/scss/styles.scss */
#features p {
  margin: 5px auto;
}

/* line 88, ../Code/Radancy-Test00/scss/styles.scss */
#features .feature {
  padding-bottom: 20px;
  border-bottom: 1.5px solid #c2c2c2;
}

/* line 92, ../Code/Radancy-Test00/scss/styles.scss */
#features .feature-subtitle {
  color: var(--brand-color);
  font-weight: lighter;
  margin: 15px 0px;
  font-size: 1.35rem;
}

/* line 98, ../Code/Radancy-Test00/scss/styles.scss */
#features .product-link {
  align-items: center;
  display: flex;
}

/* line 101, ../Code/Radancy-Test00/scss/styles.scss */
#features .product-link a {
  color: var(--secondary);
  text-decoration: none;
}

/* line 104, ../Code/Radancy-Test00/scss/styles.scss */
#features .product-link a :visited {
  color: inherit;
}

/* line 108, ../Code/Radancy-Test00/scss/styles.scss */
#features .product-link img {
  margin-left: 5px;
}

/* line 115, ../Code/Radancy-Test00/scss/styles.scss */
#solutions #solutions-about {
  display: flex;
  flex-direction: column;
}

/* line 119, ../Code/Radancy-Test00/scss/styles.scss */
#solutions #solutions-about .top {
  background: var(--brand-color);
  text-align: center;
  color: #fff;
  padding: 12px 7.5px;
  font-size: 1.3rem;
  font-weight: lighter;
}

/* line 128, ../Code/Radancy-Test00/scss/styles.scss */
#solutions #solutions-about .bottom {
  margin: 0;
  background: var(--highlight-color);
  padding: 0px 10px;
}

/* line 135, ../Code/Radancy-Test00/scss/styles.scss */
#solutions #officers {
  margin-top: 30px;
  display: flex;
  text-align: center;
  justify-content: center;
  flex-wrap: wrap;
}

/* line 142, ../Code/Radancy-Test00/scss/styles.scss */
#solutions #officers p {
  font-size: 1rem;
  text-align: center;
  line-height: 30px;
}

/* line 148, ../Code/Radancy-Test00/scss/styles.scss */
#solutions #officers .officer-quote {
  margin: 0;
  position: relative;
  font-style: italic;
  z-index: 2;
  word-wrap: break-word;
}

/* line 156, ../Code/Radancy-Test00/scss/styles.scss */
#solutions #officers .officer-signature {
  position: relative;
  color: #29ae8d;
  font-weight: normal;
  z-index: 2;
}

/* line 163, ../Code/Radancy-Test00/scss/styles.scss */
#solutions #officers .quote-container {
  position: relative;
  width: 185px;
}

/* line 167, ../Code/Radancy-Test00/scss/styles.scss */
#solutions #officers .quote-symbol {
  position: absolute;
  top: 0;
  left: 0;
  z-index: 1;
}

/* line 176, ../Code/Radancy-Test00/scss/styles.scss */
footer {
  margin: 20px;
  padding-bottom: 15px;
}

/* line 179, ../Code/Radancy-Test00/scss/styles.scss */
footer .social img {
  margin-left: 0px;
  margin-right: 5px;
}

/* line 184, ../Code/Radancy-Test00/scss/styles.scss */
footer p {
  font-size: 11.25px;
  line-height: normal;
}

/* line 189, ../Code/Radancy-Test00/scss/styles.scss */
footer a {
  color: inherit;
  text-decoration: underline;
}

/* line 195, ../Code/Radancy-Test00/scss/styles.scss */
footer .privacy-container a {
  font-weight: bolder;
  color: #000;
  text-decoration: none;
}

/*# sourceMappingURL=styles.css.map */