:root {
  --brand-color: #00945f;
  --secondary: #759b24;
  --accent-color: #e97300;
  --highlight-color: #ebf7f5;
}

* {
  box-sizing: border-box;
  font-family: 'Arial';
}

p {
  line-height: 30px;
  text-align: left;
  color: #888888;
  font-size: 1rem;
}

a {
  text-decoration: none;
}

.btn {
  display: flex;
  width: 155px;
  text-align: center;
  background: var(--accent-color);
  color: #fff;
  margin: 50px auto;
  height: 40px;
  justify-content: center;
  align-items: center;
  font-size: 1.25rem;
  a {
    text-decoration: none;
    color: #fff;
  }
}

header {
  display: flex;
  justify-content: center;

  img {
    max-width: 62vw;
    margin: 25px 0;
  }
}

#hero {
  width: 100%;
  height: 200px;
  background-image: url('../css/images/hero.png');
  background-size: 615px;
  background-position: 0% 40%;
}

main {
  margin: 20px;

  .subtitle {
    h2 {
      text-align: center;
      font-weight: lighter;
      font-size: 1.65rem;
      color: var(--brand-color);
      margin: 0;
    }
    ::after {
      content: '';
      display: block;
      margin: 0 auto;
      width: 25%;
      padding-top: 15px;
      border-bottom: 2px solid var(--brand-color);
    }
  }
}

#features {
  p {
    margin: 5px auto;
  }
  .feature {
    padding-bottom: 20px;
    border-bottom: 1.5px solid #c2c2c2;
  }
  .feature-subtitle {
    color: var(--brand-color);
    font-weight: lighter;
    margin: 15px 0px;
    font-size: 1.35rem;
  }
  .product-link {
    align-items: center;
    display: flex;
    a {
      color: var(--secondary);
      text-decoration: none;
      :visited {
        color: inherit;
      }
    }
    img {
      margin-left: 5px;
    }
  }
}

#solutions {
  #solutions-about {
    display: flex;
    flex-direction: column;

    .top {
      background: var(--brand-color);
      text-align: center;
      color: #fff;
      line-height: 35px;
      padding: 15px;
      font-size: 1.25rem;
      font-weight: lighter;
    }

    .bottom {
      margin: 0;
      background: var(--highlight-color);
      padding: 0px 10px;
    }
  }

  #officers {
    display: flex;
    text-align: center;
    justify-content: center;
    flex-wrap: wrap;

    p {
      text-align: center;
    }

    .officer-quote {
      position: relative;
      font-style: italic;
      z-index: 2;
    }

    .officer-signature {
      position: relative;
      color: #29ae8d;
      font-weight: normal;
      z-index: 2;
    }

    .quote-container {
      position: relative;
      width: 180px;
    }
    .quote-symbol {
      position: absolute;
      top: 0;
      left: 0;
      z-index: 1;
    }
  }
}
