@import url('https://fonts.googleapis.com/css2?family=Quicksand:wght@400;700&display=swap');

* {
  box-sizing: border-box;
}

body {
  font-family: 'Arial';
  //   display: flex;
  //   flex-direction: column;
  //   align-items: center;
  //   justify-content: center;
  //   height: 100vh;
  //   overflow: hidden;
  //   margin: 0;
}

header {
  display: flex;
  justify-content: center;

  img {
    max-width: 62vw;
    margin: 25px 0;
  }
}
