:root {
  --brand-color: #00945f;
  --secondary: #759b24;
  --accent-color: #e97300;
  --highlight-color: #ebf7f5;
  --border: #888888;
}

* {
  box-sizing: border-box;
  font-family: 'Arial';
}

p {
  line-height: 30px;
  text-align: left;
  color: var(--border);
  font-size: 1rem;
}

a {
  text-decoration: none;
}

.btn {
  display: flex;
  width: 155px;
  text-align: center;
  background: var(--accent-color);
  color: #fff;
  margin: 50px auto;
  height: 40px;
  justify-content: center;
  align-items: center;
  font-size: 1.25rem;
}

.btn a {
  text-decoration: none;
  color: #fff;
}

header {
  display: flex;
  justify-content: center;

  img {
    width: 62vw;
    max-width: 315px;
    margin: 25px 0;
  }

  @media (min-width: 767px) {
    justify-content: start;
    margin: 20px;
  }
}

#hero {
  width: 100%;
  height: 200px;
  background-image: url('../css/images/hero.png');
  background-size: 615px;
  background-position: 0% 40%;

  @media (min-width: 767px) {
    height: 450px;
    background-size: cover;
    background-image: url('../css/images/hero-desktop.png');
  }
}

#main-container {
  border-bottom: 1px solid var(--brand-color);
  padding-bottom: 30px;

  #main-content {
    margin: 20px;

    .subtitle {
      h2 {
        text-align: center;
        font-weight: lighter;
        font-size: 1.65rem;
        color: var(--brand-color);
        margin: 0;
      }
      ::after {
        content: '';
        display: block;
        margin: 0 auto;
        width: 70px;
        padding-top: 15px;
        border-bottom: 2px solid var(--brand-color);
      }
    }
  }
}

#features {
  p {
    margin: 5px auto;
  }

  .feature {
    padding-bottom: 20px;
    border-bottom: 1.5px solid #c2c2c2;
  }

  .feature-subtitle {
    color: var(--brand-color);
    font-weight: lighter;
    margin: 15px 0px;
    font-size: 1.35rem;
  }

  a.product-link {
    align-items: center;
    display: flex;
    color: var(--secondary);
    text-decoration: none;

    &:visited {
      color: var(--secondary);
    }

    img {
      margin-left: 5px;
    }
  }

  @media (min-width: 1023px) {
    .features-container {
      display: grid;
      grid-template-columns: repeat(2, 1fr);
      grid-gap: 10px;
    }

    .feature {
      border: none;
      position: relative;
      margin-top: 35px;
      p {
        margin: 0px 10px 50px 0px;
        // max-width: 500px;
      }
      &:nth-child(odd)::after {
        content: '';
        position: absolute;
        top: 25px;
        right: 0px;
        height: 60%;
        width: 1px;
        background-color: var(--border);
      }
      &:nth-child(even) {
        margin-left: 20px;
      }
    }
  }
}

#solutions {
  #solutions-about {
    display: flex;
    flex-direction: column;

    .top {
      background: var(--brand-color);
      text-align: center;
      color: #fff;
      padding: 12px 7.5px;
      font-size: 1.3rem;
      font-weight: lighter;
    }

    .bottom {
      margin: 0;
      background: var(--highlight-color);
      padding: 0px 10px;

      @media (min-width: 768px) {
        padding: 0px 50px;
      }
    }
  }

  #officers {
    margin-top: 30px;
    display: flex;
    text-align: center;
    justify-content: center;
    flex-direction: column;
    align-content: center;
    flex-wrap: wrap;

    @media (min-width: 1024px) {
      flex-direction: row;
      justify-content: space-around;

      .officer-variant {
        .quote-container {
          width: 400px;
        }
        .officer-signature {
          margin: 16px auto;
          width: 185px;
        }
      }
    }

    p {
      font-size: 1rem;
      text-align: center;
      line-height: 30px;
    }

    .officer-quote {
      margin: 0;
      position: relative;
      font-style: italic;
      z-index: 2;
      word-wrap: break-word;
    }

    .officer-signature {
      position: relative;
      color: #29ae8d;
      font-weight: normal;
      z-index: 2;
    }

    .quote-container {
      position: relative;
      width: 185px;
    }

    .quote-symbol {
      position: absolute;
      top: 0;
      left: 0;
      z-index: 1;
    }
  }
}

footer {
  margin: 20px;
  padding-bottom: 15px;

  .social img {
    margin-left: 0px;
    margin-right: 5px;
  }

  p {
    font-size: 11.25px;
    line-height: normal;
  }

  a {
    color: inherit;
    text-decoration: underline;
  }

  .privacy-container {
    a {
      font-weight: bolder;
      color: #000;
      text-decoration: none;
    }
  }
}
